body {
    font-family: 'Times New Roman', Times, serif;
}

.first-part {
    display: flex;
    margin-bottom: 70px;
    margin-left: 80px;
}

span {
    color: orange;
}

.header-design {
    font-size: 50px;
}

.img-part {
    width: 50%;
    margin-right: 50px;
}

#second-img {
    padding-left: 40px;
}

.txt-part {
    padding-right: 5%;
}

.small-header {
    padding-bottom: 30px;
}

#text-design {
    padding-bottom: 75px;
}

.order-button {
    text-decoration: none;
    border: 3px solid bisque;
    padding: 15px 30px;
    border-radius: 30px;
    background-image: linear-gradient(orange, tomato);
}

.second-part {
    display: flex;
    margin-bottom: 70px;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;

}

#second-part-header {
    font-size: 40px;
}

.third-header {
    text-align: center;
}

.row {
    display: flex;
}

.column {
    text-align: justify;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 40px 40px 40px 40px;
    box-shadow: 10px 10px 40px gray
}

.third-imag-part {
    width: 100%;
}